@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-100vh); }
  15% {
    opacity: 1;
    transform: translateY(0); }
  30% {
    transform: translateY(-40vh); }
  45% {
    transform: translateY(0); }
  55% {
    transform: translateY(-20vh); }
  67% {
    transform: translateY(0vh); }
  73% {
    transform: translateY(-10vh); }
  85% {
    transform: translateY(0); }
  93% {
    transform: translateY(-5vh); }
  100% {
    transform: translateY(0); } }
@font-face {
  font-family: cute;
  src: url(../fonts/CuteHandWriting.ttf); }
@font-face {
  font-family: press;
  src: url(../fonts/press.ttf); }
footer {
  margin-top: 80px;
  height: 150px;
  background: #3c443f;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  footer p {
    font-size: 1rem; }

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px auto 0; }

.gallery-text {
  background: #333333;
  align-self: center;
  width: 100%;
  padding: 25px;
  margin: 25px auto 0;
  margin-bottom: 25px; }

.gallery-item {
  width: 25vw;
  height: 25vw;
  background: #cccccc;
  margin: 5px; }
  @media (max-width: 700px) {
    .gallery-item {
      width: 100vw;
      height: 100vw;
      margin: 25px auto 0; } }
  @media (min-width: 1400px) {
    .gallery-item {
      max-width: 400px;
      max-height: 400px; } }

nav {
  display: flex;
  align-items: center;
  background: #cccccc;
  font-family: press;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1; }
  nav a {
    font-size: 2rem;
    font-weight: bolder; }

.services {
  background: #cccccc;
  margin: 25px auto 0;
  width: 100vw;
  padding: 25px;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 700px) {
    .services {
      display: block;
      height: auto; } }
  .services .services-item {
    color: #333333;
    width: 29%;
    height: auto;
    margin: 1%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 400px; }
    .services .services-item li:last-child {
      margin-bottom: 25px; }
    @media (max-width: 700px) {
      .services .services-item {
        width: 90%;
        margin: auto; } }
    .services .services-item .service-item-img {
      background: #cccccc;
      width: 150px;
      height: 150px;
      margin: 30px auto; }
    .services .services-item .service-label {
      margin-bottom: 5px;
      font-size: 1.5rem; }

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/organic-tiles.png");
  font-family: cute;
  letter-spacing: 1px;
  color: white; }

a {
  text-decoration: none;
  color: darkred; }
  a:hover {
    color: salmon; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1 {
  font-size: 3rem; }

p {
  font-size: 1.3rem; }

img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  width: 100vw;
  height: 100vh;
  animation: bounceIn 2.25s linear; }

.hero-caption {
  color: white;
  font-size: 5rem;
  text-align: center; }
  @media (max-width: 700px) {
    .hero-caption {
      font-size: 10rem; } }

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  background: #333333;
  margin: 25px auto 0;
  width: 80vw;
  height: auto; }

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #333333;
  margin: 25px auto 0;
  width: 80vw;
  padding: 25px; }
  .contact p {
    font-size: 1.2rem; }

/*# sourceMappingURL=styles.css.map */
