@import
      "abstracts/modules",
      "base/modules",
      "components/modules",
      "layout/modules";

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/organic-tiles.png");
  font-family: cute;
  letter-spacing: 1px;
  color: white;
}

a {
  text-decoration: none;
  color: red;
  &:hover {
    color: blue;
  }
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.hero-img {
  @include flex-centering-justify;
  background: $dark-gray;
  width: 100vw;
  height: 100vh;
  animation: slideIn 2s linear;
}

.hero-caption {
  color: white;
  font-size: 5rem;
  text-align: center;

  @media #{$mobile} {
    font-size: 10rem;
  }
}

.about {
  @include flex-centering-justify;
  flex-direction: column;
  padding: $section-padding;
  background: $dark-gray;
  margin: $separation-margins;
  width: 80vw;
  height: auto;
}

.services {
  background: $light-gray;
  margin: $separation-margins;
  width: 90vw;
  padding: $section-padding;
  height: 35vh;
  box-sizing: border-box;
  @include flex-centering-justify;

  @media #{$mobile} {
    display: block;
    height: auto;
  }

  .services-item {
    background: $dark-gray;
    width: 29%;
    height: auto;
    margin: 5px;
    padding: $section-padding;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

    @media #{$mobile} {
      width: 90%;
      margin: auto;
    }

    .service-item-img {
      background: $light-gray;
      width: $item-img-size;
      height: $item-img-size;
      margin: 30px;
    }
  }
}

.contact {
  @include flex-centering-justify;
  background: $dark-gray;
  margin: $separation-margins;
  width: 80vw;
  padding: $section-padding;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  32% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-10vh);
  }
  47% {
    transform: translateY(-10vh);
  }
  60% {
    transform: translateY(0);
  }
  61% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-6vh);
  }
  72% {
    transform: translateY(-6vh);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(0);
  }
}
