@import
      "abstracts/modules",
      "base/modules",
      "components/modules",
      "layout/modules";

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: $bg-color;
  font-family: cute;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 15px;
}

.hero-img {
  background: #8e9e66;
  width: 100vw;
  height: 100vh;
}
