.gallery {
  @include flex-and-centering;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $separation-margins;
}

.gallery-text {
  background: yellow;
  align-self: center;
  width: 100%;
  padding: 25px;
  margin-bottom: $separation-margins;
}

.gallery-item {
  width: $gallery-item-size;
  height: $gallery-item-size;
  background: #a9ceb5;
  margin: 5px;

  @media #{$mobile} {
    width: $gallery-item-mobile;
    height: $gallery-item-mobile;
    margin: $separation-margins 0;
  }

  @media #{$desktop} {
    max-width: $gallery-item-maxsize;
    max-height: $gallery-item-maxsize;
  }
}
