.gallery {
  @include flex-centering-justify;
  flex-wrap: wrap;
  margin: $separation-margins;
}

.gallery-text {
  background: $dark-gray;
  align-self: center;
  width: 100%;
  padding: $section-padding;
  margin: $separation-margins;
  margin-bottom: 25px;
}

.gallery-item {
  width: $gallery-item-size;
  height: $gallery-item-size;
  background: $light-gray;
  margin: 5px;

  img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  @media #{$mobile} {
    width: $gallery-item-mobile;
    height: $gallery-item-mobile;
    margin: $separation-margins;
  }

  @media #{$desktop} {
    max-width: $gallery-item-maxsize;
    max-height: $gallery-item-maxsize;
  }
}
