nav {
  @include flex-and-centering;
  background: #8c9aaf;
  font-family: press;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    font-size: 3rem;
    font-weight: bolder;
  }
}
