.services {
  background: $light-gray;
  margin: $separation-margins;
  // margin-bottom: 20px;
  width: 100vw;
  padding: $section-padding;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  @include flex-centering-justify;

  @media #{$mobile} {
    display: block;
    height: auto;
  }

  .services-item {
    // background: $dark-gray;
    color: $dark-gray;
    width: 29%;
    height: auto;
    margin: 1%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 400px;

    li:last-child {
      margin-bottom: 25px;
    }

    @media #{$mobile} {
      width: 90%;
      margin: auto;
    }

    .service-item-img {
      background: $light-gray;
      width: $item-img-size;
      height: $item-img-size;
      margin: 30px auto;
    }

    .service-label {
      margin-bottom: 5px;
      font-size: 1.5rem;
    }
  }
}
